<html>
<head>
	<title>King of Glory Forum</title>
	<link rel="stylesheet" type="text/css" href="/CI_Forum/css/nav.css">
	<link rel="stylesheet" type="text/css" href="/CI_Forum/css/userHomePage.css">
	<script type="text/javascript" src="/CI_Forum/css/welcome.js"></script>
</head>
<body>
	<div class="f1">		
		<div class="navigation">
			<ul class="nav_ul">
				<li><img src="/CI_FORUM/images/log.png"></li>
				<li><a href="/CI_FORUM/index.php/Index/UserHome">Home</a></li>
				<li><a href="/CI_FORUM/index.php/User/game_wallpaper">Game Wallpaper</a></li>
				<li><a href="/CI_FORUM/index.php/User/game_video">Game Video</a></li>
				<li><a href="/CI_FORUM/index.php/User/game_heroes">Hero Show</a></li>
				<li><a href="/CI_FORUM/index.php/User/suggestion">Suggestion</a></li>
				<li><a href="/CI_FORUM/index.php/User/personal_center">Personal Center</a></li>
				<li><a href="/CI_FORUM/index.php/Index/logout">Logout</a></li>
			</ul>
		</div>
	</div>
	<div class="instruction">
		<div class="instruction_title"><img src="/CI_FORUM/images/ins_log.png">&nbsp;游戏介绍</div>
		<label style="float:left; margin-left: 50px; "><img src="/CI_FORUM/images/instruction.jpg"></label>
		<div class="instruction_content">
			<p>&nbsp;&nbsp;&nbsp;《王者荣耀》是腾讯第一5V5团队公平竞技手游，于10月28日开启不限号测试！5V5王者峡谷（含迷雾模式）、5V5深渊大乱斗、以及3V3、1V1等多样模式一键体验，热血竞技尽享快感！海量英雄随心选择，精妙配合默契作战！10秒实时跨区匹配，与好友组队登顶最强王者！操作简单易上手，一血、五杀、超神，极致还原经典体验！实力操作公平对战，回归MOBA初心！</p>
		</div>
	</div>
	<div class="feature">
		<div class="feature_title"><img src="/CI_FORUM/images/fea_log.png">&nbsp;游戏特色</div>

			<div style="margin: 40px 20px;">
		        <ul>
		        	<li>		        		
		        		<img id="d1" onclick="myClick(1)" src="/CI_FORUM/images/yes.png" style="margin-left: 20px;" />
		        		<h5>游戏特色一</h5>		        		
		        	</li>
		        	<li>
		        		<img id="d2" onclick="myClick(2)" src="/CI_FORUM/images/no.png" style="margin-left: 20px;" />
		        		<h5>游戏特色二</h5>		        		
		        	</li>
		        	<li>
		        		<img id="d3" onclick="myClick(3)" src="/CI_FORUM/images/no.png" style="margin-left: 20px;" />
		        		<h5>游戏特色三</h5>		        		
		        	</li>
		        	<li>
		        		<img id="d4" onclick="myClick(4)" src="/CI_FORUM/images/no.png" style="margin-left: 20px;" />
		        		<h5>游戏特色四</h5>
		        	</li>
		        	<li>
		        		<img id="d5" onclick="myClick(5)" src="/CI_FORUM/images/no.png" style="margin-left: 20px;" />
		        		<h5>游戏特色五</h5>		        		
		        	</li>
		        </ul>
		    </div>

		<div id="fea1">
			<div style="float: left; width: 600px; margin-left: 50px;">
				<h2>5V5越塔强杀！开团</h2>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们拥有5V5经典地图，使用三路推塔核心玩法，呈现出最原滋原味的MOBA游戏对战体验！在王者荣耀里，我们根据英雄玩法使用不同的策略，根据英雄特色组建完美阵容，默契配合成就最强王者！</p>
			</div>
			<img src="/CI_FORUM/images/feature1.jpg" style="float: right; margin-right: 50px; ">
		</div>
		<div id="fea2">
			<div style="float: left; width: 600px; margin-left: 50px;">
				<h2>年度最佳电竞手游</h2>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;荣获中国游戏风云榜《2015年度最佳电竞手游》！随着游戏内各项赛事的不断铺开，已发布以“嗨电竞”为主题的电竞发展计划，将构筑以玩家为主体，囊括多种形式与层次的赛事，注重以比赛激发用户热情，并邀请媒体共建的电竞体系，打造开放式、大众式的电竞氛围。一起！让移动电竞流行起来！</p>
			</div>
			<img src="/CI_FORUM/images/feature2.jpg" style="float: right; margin-right: 50px; ">
		</div>
		<div id="fea3">
			<div style="float: left; width: 600px; margin-left: 50px;">
				<h2>师徒系统，师傅带你开车上王者！</h2>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;打造新型生态社交圈，新增师徒系统！旨在给新老玩家建立亲密关系，新玩家可以通过拜师并和师父一起游戏学习到游戏技巧和丰厚奖励，更好的度过新手期，而老玩家也可以通过带徒弟获得荣誉奖励和尊重。</p>
			</div>
			<img src="/CI_FORUM/images/feature3.jpg" style="float: right; margin-right: 50px; ">
		</div>
		<div id="fea4">
			<div style="float: left; width: 600px; margin-left: 50px;">
				<h2>恋人系统，王者之路不再孤单！</h2>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;打造新型生态社交圈，我们在游戏内对于亲密关系需求是不同的。新增恋人基友系统，拥有好友关系时，在loading界面会有专属特效和显示，局内更有专属画面呈现！您的王者之路从来不曾孤单！</p>
			</div>
			<img src="/CI_FORUM/images/feature4.jpg" style="float: right; margin-right: 50px; ">
		</div>
		<div id="fea5">
			<div style="float: left; width: 600px; margin-left: 50px; ">
				<h2>迷雾模式，MOBA经典视野玩法</h2>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;迷雾模式中，大部分区域被迷雾笼罩，视野受到限制。我们需要通过插眼和反眼的默契配合，掌控游戏中的视野。MOBA经典视野玩法，更加考验每一位召唤师的意识和操作，不断挑战自我！</p>
			</div>
			<img src="/CI_FORUM/images/feature5.jpg" style="float: right; margin-right: 50px; ">
		</div>
	</div>

	<div class="page_info">		
		<img src="/CI_FORUM/images/tencent_log.jpg" width="300px" height="96px" >
		<label style="font-size:22px; font-weight: bold; margin-left: 120px;"> 温馨提示：本游戏适合16岁(含)以上玩家娱乐</label>		
		<hr>
		<label style="font-size:15px;  margin-left: 150px;">抵制不良游戏&nbsp;&nbsp;&nbsp;拒绝盗版游戏&nbsp;&nbsp;&nbsp;注意自我保护&nbsp;&nbsp;&nbsp;谨防受骗上当&nbsp;&nbsp;&nbsp;适度游戏益脑&nbsp;&nbsp;&nbsp;沉迷游戏伤身&nbsp;&nbsp;&nbsp;合理安排时间&nbsp;&nbsp;&nbsp;享受健康生活</label><br>
		<label style="font-size:15px;  margin-left: 30px;">
		《王者荣耀》全部背景故事发生于架空世界“王者大陆”中。相关人物、地理、事件均为艺术创作，并非正史。若因观看王者故事对相关历史人物产生兴趣，建议查阅正史记载。</label>
	</div>

</body>
</html>